.statistics {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  padding-top: 20px;
}
.title {
  text-align: center;
  color: rgb(198, 198, 198);
}
.statList {
  display: flex;
  padding: 0;
}
.item {
  justify-content: center;
  text-align: center;
  padding: 15px;

  border: 1px solid #111;
}
.percentage {
  font-size: 30px;
}
